<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Proyecto</servlet-name>
        <servlet-class>alumno.Proyecto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LeerPregunta</servlet-name>
        <servlet-class>alumno.LeerPregunta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarPregunta</servlet-name>
        <servlet-class>alumno.EliminarPregunta</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Proyecto</servlet-name>
        <url-pattern>/Proyecto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LeerPregunta</servlet-name>
        <url-pattern>/LeerPregunta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarPregunta</servlet-name>
        <url-pattern>/EliminarPregunta</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
