/Practica1/WebApplication1/nbproject/private/
/Practica1/PracticaUno/nbproject/private/
/Practica1/SERVLETREADXML/nbproject/private/
/Practica1/SERVLETREADXML/build/
/Practica1/ServleXMLMODIFY/nbproject/private/
/Practica1/ServleXMLMODIFY/build/
/Practica1/ServleXMLMODIFY/dist/
/Practica1/SERVLETDELETEXML/nbproject/private/
/Practica1/SERVLETDELETEXML/build/
/Practica1/SERVLETDELETEXML/dist/
/Practica1/PracticaUno/build/
/Practica1/PracticaUno/dist/